html
  head
    title Remote Touchpad
  body
    h1 Remote Touchpad
    div Scan the QR code with your phone or open this address on your phone's web browser: 
      a(href=`http://${address}:${port}`)=`http://${address}:${port}`
    div
      img(src=qr)
